body {
  font: 60px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #CCCCFF;
}

ol, ul {
  padding-left: 20px;
}
li{
  margin-top: -20px;
}
.board{
  margin: 10px auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 150px;
  font-weight: bold;
  line-height: 200px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.square:focus {
  outline: none;
  background-color: #999;
  }

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  margin: 10px 20px;
  
 
}

.game-info {
  margin-left: 100px;
   margin-top: 10px;
 
}
button{
background: #CC99CC;  
color: #ddd;
padding: 12px 20px;
border-radius: 50px;
border: none;
margin: 16px auto;
font-size: 32px;
font-weight: 700;
cursor: pointer;

}